    <form method="POST" action="/new">
        <div>
            <label for="name"><b>Name</b></label>
            <input type="text" name="user">
        </div>

        <div>
            <label for="text"><b>Text</b></label>
            <input type="text" name="text" id="1"> 
        </div>
        <button>Submit</button>
    </form>