    <form action="POST" action="/new">
        <div>
            <label for="name">Name</label>
            <input type="text">
        </div>

        <div>
            <label for="text">Text</label>
            <textarea name="text" id="1">text</textarea>
        </div>
        <button>Submit</button>
    </form>